<h1>Mon produit</h1>

  
<p>
<Strong>Titre</strong><br>
<%= @produit.title %>
</p>

<p>
<Strong>Prix</strong><br>
<%= @produit.prix %>
</p>

<p>
<Strong>Quantité</strong><br>
<%= @produit.quantite %>
</p>
 
<%= link_to 'Back', produits_path %> 
  
