<html>
<body>
<h1>Bonjour Paris</h1>
<%= link_to 'Mes articles', controller: 'articles' %>
<%= link_to 'Nouvel article', new_article_path %>
<!--%= link_to 'Édition article', edit_article_path %-->
</body>
</html>